
  <div class="task-group new">
    <h5 class="group-name">
      <div class="text-holder">
        Add a new group
      </div>
      <div class="form-holder">
        <%= form_for Group.new, remote: true do |f| %>
          <%= f.text_field :name %>
        <% end %>
      </div>
    </h5>
  </div>
