<table class="table table-condensed table-striped table-hover tasks-list">
  <tbody>
    <% tasks.each do |task| %>
      <%= render partial: 'task', locals: { task: task }%>
    <% end %>
  </tbody>
</table>
