<h2 class="title">
  Tasks
  <%= link_to 'New Task', new_task_path, class: 'btn btn-primary right' %>
</h2>

<div class="clear"></div>

<div class="row">
  <% @groups.each do |group| %>
    <%= render partial: 'group_tasks', locals: { group: group } %>
  <% end %>
</div>

<% content_for :footer_javascripts do %>
  <% javascript_tag do %>
    new taskTracker.ControlMessages();
  <% end %>
<% end %>
