<% if current_user %>
  <div id="graph" style="height: 250px;"></div>

  <script>
    var graph = Morris.Line({
      element: 'graph',
      data: <%= @processed_tasks.to_json.to_s.html_safe %>,
      xkey: 'day',
      ykeys: ['done', 'todo'],
      labels: ['Done', 'To do'],
      parseTime: false,
      hideHover: true
    });
  </script>
<% else %>
  We have about <%= @users_count %> users using the system and <%= @tasks_count %> tasks registered in.
<% end %>
