/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require morris
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';

body       { padding-top: 50px; margin-top: 30px; }

.left       { float: left; }
.right      { float: right; }
.margin-top     { margin-top: 30px; }
.margin-right   { margin-right: 30px; }
.margin-bottom  { margin-bottom: 30px; }
.margin-left    { margin-left: 30px; }

.title     { margin-bottom: 20px; margin-top: 20px; }

.completed {
  td.name { opacity: 0.5; text-decoration: line-through; }
}

.alert    { position: fixed; top: 20px; z-index: 1500; left: 40%; }

table#tasks-list tr {
  .edit, .remove,
  .complete_uncomplete  { display: none;  }
  &:hover               { .edit, .remove, .complete_uncomplete { display: block; } }
  td.name {
    .form-holder { display: none; }
  }
}
