.task-group {
  background: #FFF;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  position: relative;
}

.task-group h5.group-name {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.task-group .remove-group {
  position: absolute;
  top: 0;
  right: 0;
}

.task-group .tab-content {
  margin-top: 15px;
}

.task-group {
  .group-name {
    .form-holder {
      display: none;
    }
  }

  &.new {
    .group-name {
      .form-holder {
        display: block;
      }
    }
  }

  .tasks-list tbody {
    min-width: 100%;
    min-height: 30px;
    float: left;

    tr {
      width: 100%;
      float: left;
    }
  }

  .tasks-list tr {
    .edit, .remove  { opacity: 0; }
    &:hover         { .edit, .remove { opacity: 1; } }
    &.placeholder     { background: #DDD; }

    &.initial-placeholder { display: none; }
    &:only-child { display: block; };

    td {
      &.name { width: 100% };
      &.actions { width: 25px; text-align: center; }

      &.name {
        .form-holder { display: none; }
      }
    }
  }

  .new_task .tasks-list {
    td.name {
      .form-holder { display: block; }
    }
  }
}

table#tasks-list tr {
  .edit, .remove,
  .complete_uncomplete  { display: none;  }
  &:hover               { .edit, .remove, .complete_uncomplete { display: block; } }
  td.name {
    .form-holder { display: none; }
  }
}
